alembic==1.18.1
annotated-types==0.7.0
librt==0.7.8
Mako==1.3.10
MarkupSafe==3.0.3
mypy==1.19.1
mypy_extensions==1.1.0
pathspec==1.0.3
pydantic==2.12.5
pydantic-settings==2.12.0
pydantic_core==2.41.5
python-dotenv==1.2.1
ruff==0.14.13
SQLAlchemy==2.0.45
typing-inspection==0.4.2
typing_extensions==4.15.0
