{% extends "admin/auth.html" %} {% block content %} {% if not is_sent %}
<form method="POST" novalidate>
  {{ form.hidden_tag() }}
  <h1 class="h3 mb-3 fw-normal">Password recovery</h1>
  <div class="form-floating">
    {{ form.email( class="form-control" ~ (" is-invalid" if form.email.errors
    else (" is-valid" if form.is_submitted() else "")),
    placeholder="name@example.com" ) }}
    <label>{{ form.email.label }}</label>
    {% if form.email.errors %}
    <div class="invalid-feedback">{{form.email.errors[0]}}</div>
    {% endif %}
  </div>
  <button class="btn btn-primary w-100 py-2" type="submit">Recovery</button>
</form>
{% else %}
<div class="alert alert-success">
  We have sent you an email with instructions to {{form.email.data}}
</div>
{% endif %} {% endblock %}
